body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td {font-size: 13px}
img {border:0px;}
.STYLE1 {font-size: 13px}
.STYLE3 {font-size: 13px; font-weight: bold; }
.STYLE4 {
	color: #03515d;
	font-size: 13px;
}